@font-face {
  font-family: 'Paladin';
  src: url('images/PaladinFLF.ttf');
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000000;
  background-color:#000000;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  display: flex;
  text-align: start;
  justify-content: center;
  
 
}

.container {
  display: flex;
}



.image-container {
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255)
}
.garden-stair {
 object-fit: cover;
 height: 100vh;
 width: 450px;
 
}

.credit {
  position: absolute;
  bottom: 10px;
  left: 12px;
  font-size: 20px;
  
}

.banner {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.246);
  top: 30vh;
  padding: 0 140px 0 135px;
  
}

.banner p {
  font-size: 40px;
  font-family: 'paladin';
  opacity: 80%;

}

.letter-t {
  width: 15vh;
  height: 15vh;
  opacity: 80%;
  
}


.form-info {
  padding: 150px 0 0 0;
  width: 750px;
  font-size: 23px;
  font-weight: bold;
  text-align: start;
  color: #191919;
}

.para-two {
  padding: 75px 0;
}

.form-container {
  height: 30vh;
  width: 65vh;
  text-align: start;
  font-size: 20px;
  box-shadow: 5px 5px 5px 1px rgb(131, 131, 131);

}

.header {
  padding: 20px 0;

}

.form-inputs {
  padding: 0 0;
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 25px;
}

.form-inputs label {
  display: flex;
  flex-direction: column;

}

input {
  font-size: 20px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid black;

}

input::after {
  border: 1px solid green;
}

.form-text {
  padding-left: 30px;
  background-color: white;
}

.btn {
  padding: 50px 0;
  width: 100px;
}

.submit {
  padding: 13px 50px;
  font-size: 18px;
  font-weight: bold;
  background-color: #6ad144;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 1px rgb(131, 131, 131);
}

